# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Big files
*.pch
*.sdf
*.pdb
*.ipch

.vs/
menegment_exfkaslkfas/.vs/
menegment_exfkaslkfas/menegmen.c8c20b33/
menegmen.c8c20b33/x64/

Space/.vs/
Space/Space/
Space/x64/